#about_us_sec{
	text-align: center;
	max-width: 60em;
}
section#about_us_sec p{
	text-align: left;
}
section#about_us_sec p a{
	color: #66CCCC;
}
section#about_us_sec p a:hover{
	background: #FF99CC;
}
section#about_us_sec{
	text-align: center;
	margin-top: 24em;
}
/*section#about_us_sec #about_us_heading{
	margin-top: 4em;
}*/