.container{
	text-align: center;
	margin-top: 4em;
}

div.container a{
	text-decoration: none;
	color: white;
	background: #66CCCC;
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    transition-duration: 0.5s;
}