body{

}
div.cart-content{
	width: 55%;
	max-width: 35em;
}
/*The code below is for main shopping cart */
div.cart-heading{
	background-color: #FF99CC;
}
span img{
	width: 50%;
}
.heading-name{
	display: inline-flex;	
	margin-left: 2em;
	padding-bottom:1em;
	padding-top:1em;
	color: white;
	font-size: 1.1em;
}
#heading1{
	order: 2;
	width: 54%;
}
.row-item{
	display: flex;
	justify-content: flex-start;
}
.row-item span img{
	padding-left: 10px;
	padding-top: 20px;
}
.row-item p{
	padding-top: 3em;
	text-align: right;
	padding-left: 6em;
	max-width: 20em;
	min-width: 15em;
	margin-right: 2em;
}
form.row-item{
   display: inline-block;
   text-align: right;
   padding-left: 7em;
   padding-bottom:2em;
   max-width:35em; 
   padding-right:2em;
}

.cart-content, .cart-row{
	border: solid #FF99CC 1px;
}
.container{
	display: flex;
	justify-content: center;
}


/*The code below is for order summary  */
.summary-heading{
	background-color: #FF99CC;
	padding-left: 2em;
	padding-bottom:1em;
	padding-top:1em;
	color: white;
	font-size:1.1em;
	margin-bottom: 3em;
}
.cart-summary{
	margin-left: 1.2em;
	width: 25%;
/*	flex-basis: 25.35%;
*/	border: solid #FF99CC 2px;
	height: 17em;
}

.summary-content span{
	display: flex;
	padding-bottom: 2em;
	padding-left: 2em;
}
#summary-total{
	padding-left: 2em;	
	padding-right: 1.6415em;
	padding-top: 1em;
	font-size: 1.12em;
	border-top: solid  #66CCCC 3px;
	min-width: 25%;
}
.summary-content a{
	background: #66CCCC;
	font-size: 1.25em;
	text-align: center;
	width: 100%;
}







/*
#shopping_cart, #cart{
	padding-top:2em;
	padding-bottom:2em;
	max-width: 100%;
}
 
 #payment_heading{
 	margin-bottom:2em;
 }
 #bill{
 
	width:100%;

 }
 .pay_detail{
 	text-align: left;
 	margin-left:24em;
 }
 .pay_detail label{
 	margin-left:0.6em;
 }
label {
	display: block;
}

	input#form-name{
		width: 15em;
		height: 2em; 
	}

	input#form-email{
		width: 15em;
		height: 2em; 
	}
	
	input#form-phone{
		width: 15em;
		height: 2em;
	}
	input#form-address{
		width: 18em;
		height: 2em;
	}
	input#form-card{
		width: 18em;
		height: 2em;
	}
	input#form-cardname{
		width: 18em;
		height: 2em;
	}
	input#form-plate{
		width: 90%;
		margin-top:1em;
		margin-bottom:2em;
	}
	input#form-violation{
		width: 90%;
		margin-top:1em;
		margin-bottom:2em;
	}
	
	input#form-home{
		width: 22em;
		margin-top:1em;
		margin-bottom:2em;
	}

input#form-csv{
	width: 5em;
}

#card_type{
	margin-left:0.7em;
	margin-bottom:2em;
}


}*/