@media(min-width: 49.5em){
	div.cart-content{
		width: 55%;
		max-width: 35em;
	}
}
/*The code below is for main shopping cart */
div.cart-heading{
	background-color: #FF99CC;
}
span img{
	width: 80%;
}
.heading-name{
	display: inline-flex;	
	margin-left: 2em;
	padding-bottom:1em;
	padding-top:1em;
	color: white;
	font-size: 1.1em;
}
#heading1{
	order: 2;
	width: 54%;
}
.row-item{
	display: flex;
	justify-content: flex-start;
}
.row-item span img{
	padding-left: 10px;
	padding-top: 20px;
}
.row-item p{
	padding-top: 3em;
	text-align: right;
	padding-left: 6em;
	max-width: 20em;
	min-width: 15em;
	margin-right: 2em;
}
form.row-item{
   display: inline-block;
   text-align: right;
   padding-left: 7em;
   padding-bottom:2em;
   max-width:35em; 
   padding-right:2em;
}

.cart-content, .cart-row{
	border: solid #FF99CC 1px;
}


.container{
	display: flex;
	justify-content: center;
}



/*The code below is for order summary  */
.summary-heading{
	background-color: #FF99CC;
	padding-left: 2em;
	padding-bottom:1em;
	padding-top:1em;
	color: white;
	font-size:1.1em;
	margin-bottom: 3em;
}
.cart-summary{
	margin-left: 1.2em;
	width: 25%;
/*	flex-basis: 25.35%;
*/	border: solid #FF99CC 2px;
	height: 17em;
}

.summary-content span{
	display: flex;
	padding-bottom: 2em;
	padding-left: 2em;
}
#summary-total{
	padding-left: 2em;	
	padding-right: 1.6415em;
	padding-top: 1em;
	font-size: 1.12em;
	border-top: solid  #66CCCC 3px;
	min-width: 25%;
}
.summary-content a{
	background: #66CCCC;
	font-size: 1.25em;
	text-align: center;
	width: 100%;
}



/* THe code below is for the payment section*/

.container2{
	width: 55%;
	justify-content: center;
	min-width: 25em;
	max-width: 35em;
}
.form-row{
	padding: 10px 0;
	display: flex;
}
.form-row label{
	padding-right: 10px;
	display: inline;
}

.form-row input{
	flex:1;
}
.form-row a{
	background: #66CCCC;
	font-size: 1.25em;
	text-align: center;
	width: 100%;
}


/*The code below is for the resposiveness*/
@media(max-width: 49.5em){
	.container{
		flex-direction:column;
		align-items: center;
	}
	.cart-content{
		width: 90%;
/*		max-width: 55em;
*/	}
	.cart-summary{
		width: 90%;
		margin-left: 0;
	}
	#payment_heading{
		margin-top: 4em;
	}
	.container2{
		width: 90%;
	}

	
}
