
.container{
	display: flex;
	align-items: center;
	margin-left: 15%;
	margin-right:15%;
}
.contact-row{
	display: flex;
	justify-content: flex-start;
	min-width: 22em;
	flex-wrap: wrap;
	padding-right: 1.5em;
	padding-top: 3em;

}
@media(max-width: 49.5em){
	.container{
		flex-direction:column;
	}
}
#contact-us-input{
	background: lightgrey;
	max-width: : 20em
	background-opacity: 0.2;
	margin-top: 1em;
	padding: 1em;
}
#send-button{
	text-align: right;
	padding-right: 1em;
}
#send-button button:hover{
	color: #FF99CC;
}



#our-tips{
	padding-top: 0;
	margin-top: 1em;
	margin-bottom: 2em;
}
#gif{
	display: flex;
	justify-content: center;
}
