footer{
	margin-top: 12em;
	border-top: solid;
	border-color: #66CCCC;
	border-radius: 2em;
	clear: both;
	margin-bottom: 2em;
    background: #FF99CC;
    padding-bottom: 2em;
    color: white;
    font-size: 0.75em;
    text-align: center;
}
footer ul li{
	margin-top: 2em;
    text-align: center;
	list-style: none;
}