*, *:after, *:before{
    box-sizing: border-box;
}

[class^='nav-'] {

	float: left;
	text-align: center;
	flex-wrap: nowrap;
}

.nav-2of2{
	background-color: #475a4d;;
    width:100%;
    height:3em;
}
 
#shopping_cart{
    margin-top:4em;
   
    
}

#card_number{
            width:15em;
            margin-left:0em;
}

#confirm{
    margin-left:5em;
    margin-top:1em;
}
input{
    margin-bottom: 25px;
}
{
    margin-left: 100px;
}
/* 不知道这个是控制哪里的。但是它影响了图片下面的字 所有先comment掉*/
/*div p{
    margin-left: 70px;
}
*/



@media (max-width:150em){

    
    #cart_item{
            margin-left:0em;
        }
    nav{
        margin-top: 0.8em;
        margin-left:7em;
        width:100%; 
    }
    #nav{
        margin-left:5em;
    }
       

    #total{
    margin-left: 30em;
    }
}
@media (max-width:72em){

      #cart{

        width:100%; 
    }

    nav{
        margin-left:5em;
        width:100%; 
    }
    #nav{
        margin-left:3em;
    }
    #cart_item{
        margin-left:0em;
    }
}   


@media (max-width:50em){



    .nav-1of2{
        width:110%;

    }
    nav{
        margin-left:-3em;
        margin-top:0.3em;
    }
    #cart_item{
        margin-left:0em;
    }

}

@media (max-width:40em){

 p#total{
    margin-left: 20em;
    }
 #card_number{
    width:65%;
    margin-left:0em;
    }
 #cart_item{
    margin-left:0em;
        }
}


  @media (max-width:30em){
      #cart{
        margin-left:0em;
        width:100%; 
    }

        #quantity{
            width:25%;
        }
        #cart_item{
            margin-left:0em;
        }
    p#total{
        margin-left:13em;
    }


}


