/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
.icon{
  margin: 50px;
  margin-bottom: 10px;
}
.logo:hover{
 opacity: 0.5;
}
/*
   .icon is for the icons seprately
    #icons is for the group of icons
*/

 /* #icons{
     margin-left: 70%;
 } */

#citations{
  font-family:Arial ;
}
#Home p{
  text-align: center;
}
#Home p a{
  text-decoration: none;
  color: #475a4d;
}
#Home p a:hover{
  color: #d4a7fd;
}

section ol a p{
  text-decoration: none;
  color: #475a4d;
}
section ol a p:hover{
  color: #d4a7fd;
}
body {
  font-family: impact;
  padding: 2rem;
}
header{
/*  background-color: #FF99CC;
*/}
section h4{
  color:#475a4d;
}
input{
    color: #475a4d;
}
input:hover{
    color: #d4a7fd;
}
button-nav{
    background-color: #475a4d;
}
/*.button-nav{
    background-color: #d4a7fd;
}
.button-nav:hover{
    background-color: red;
}*/
nav{
<<<<<<< HEAD

=======
  background-color: #475a4d;
>>>>>>> master
  text-align: center;
}
nav a{
  text-decoration: none;
  color: white;
  font-family: impact;
  margin-left: 2em;
  height: 100px;
}
nav ul{
  text-decoration: none;
  color: white;
  font-family: impact;
  height: 25px;
}
nav ul li{
  list-style: none;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;

}
h1{
  color: #475a4d;
}
h2 {
  margin-top: 6rem;
  background-color: #475a4d;
  text-align: center;
  font-size: 2em;
  color: white;
}

h3{
  text-align: center;
  font-size: 1.2em;
  font-weight:bold;
  margin-top: 1rem;
  margin-bottom: 15px;
/*  background: #d4a7fd;
*/  color: #d4a7fd;
  border-top: solid #475a4d 3px;
  border-bottom: solid #475a4d 3px;
}

h4 {
  margin-bottom: 1rem;
/*  border-bottom: dotted #66CCCC 3px;
*/  
text-align: center;
  border-bottom-style: dotted;
  border-bottom-color: #475a4d 3px;
}

p {
  margin-top: 0;
  max-width: 85em;
}
.quote{
  font-family: Arial;
}

nav a:hover {
  text-decoration: none;
  color:#d4a7fd;
}

nav a:focus {
  text-decoration: none;
  color:yellow;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}
section{
  margin-top: 30px;
  margin-bottom: 30px;
}
section ol a p{
  text-decoration: none;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}

ul li a:focus{
 color: yellow;
}
ul li a:hover{
 color: #d4a7fd;
}
a#intext_link:hover{
  color: #d4a7fd;
}
a#intext_link:focus{
  color: yellow;
}
/*codes BELOW are the different looks for the image's different states:hover, focus
*/
#image:hover{
/* width: 125%;
 height: 125%;
*/
 opacity: 0.8;

}
#image:focus{
/* width: 125%;
 height: 125%;
*/
 opacity:0.2;
}
#image img{
  text-align: center;
  width: 100%;
}

/*label & input style
*/

label:hover{
  color: black;
}
label:focus{
  color: yellow;
}
input{
  font-family: Arial;
  border: #475a4d solid 1px;
  margin-left: 10px;
}
label{
    font-family: Arial;
    color: #475a4d;
}
/*
   make the product list align with the centre, when the mouse hover,the image
  will change its opacity and the name of the product will be underline
*/

.products img:hover{
  opacity: 0.6;
}
.products:hover{
      text-decoration: underline;
  }


/* Home  section*/
#Home .css_selector{
  text-align: left;
    color: #475a4d;
}
#card_section .css_selector{
    color: #475a4d;

}
#payment_section .css_selector{
      color: #475a4d;

}



#contact_us ul li span{
  font-family: Arial;
}
/*   */
  #color_palette{
    margin-left: 5%;
  }


div.products{
  float: left;
  width: 50%;
  height: 40%;
  text-align: center;
}

/*  responsive for the homepage image */
<<<<<<< Updated upstream
/* @media(min-width:30em){
    #homepage_img{
      width: 100%;
      height: auto
    }

} */
=======

>>>>>>> Stashed changes



/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/