
#all_products{
  color: #66CCCC;
  margin-left: 5em;
}
#all_products:hover{
  color: #FF99CC;
}
#citations{
  font-family:Arial ;
}
#Home p a{
  color: #66CCCC;
}
#Home p a:hover{
  background: #FF99CC;
}

/*section span a{
  text-decoration: none;
  color: #66CCCC;
}
section span a:hover{
  color: #FF99CC;
}*/
body {
  font-family: "Times New Roman";
}


input{
    color: #66CCCC;
}




#main-nav a{
  text-decoration: none;
  color: white;
  font-family: "Times New Roman";
  height: 100%;
  line-height: 100%;
  
}


.element {
/*  text-align: center;
*/  border-top-width: 0.15rem;

}
h1{
  color: #FF99CC;
}
h2 {
  margin-top: 4rem;
  background-color: #66CCCC;
  text-align: center;
  font-size: 2em;
  color: white;
}

h3{
  text-align: center;
  font-size: 1.7em;
  font-weight:bold;
  margin-top: 1rem;
  margin-bottom: 15px;
  color: #FF99CC;
  border-top: solid #66CCCC 3px;
  border-bottom: solid #66CCCC 3px;
}

h4 {
    border-bottom: dotted #66CCCC 3px;
    text-align: center;
    color: #66CCCC;
}

p {
  margin-top: 0;
  max-width: 85em;
}
.quote{
  font-family: Arial;
}

nav a:hover {

  text-decoration: none;
  background-color: #66CCCC;
}

nav a:focus {
  text-decoration: none;
  color:yellow;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}
section{
  margin-top: 30px;
  margin-bottom: 30px;
}
section ol a p{
  text-decoration: none;
}


/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #66CCCC;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}


a#intext_link:focus{
  color: yellow;
}

/*codes BELOW are the different looks for the image's different states:hover, focus
*/
  #image:hover{

   opacity: 0.8;

  }
  #image:focus{

   opacity:0.2;
  }
  #image img{
    text-align: center;
    width: 100%;
  }

/*label & input style
*/

  label:hover{
    color: black;
  }
  label:focus{
    color: yellow;
  }
  input{
    font-family: Arial;
    border: #66CCCC solid 1px;
    /*margin-left: 10px;*/
  }
  label{
      font-family: Arial;
      color: #66CCCC;
  }

/*
   make the product list align with the centre, when the mouse hover,the image
  will change its opacity and the name of the product will be underline
*/

.products img:hover{
  opacity: 0.6;
}
.products:hover{
      text-decoration: underline;
  }






