img{
	float: left;
}
#product1{
	max-width: 60em;
}
#product1_des{
	max-width: 30em;
}
section h4{
	max-width: 10em;
	float: left;
}
button a{
	text-decoration: none;
	color: #66CCCC;
}
button a:hover{
	text-decoration: none;
	color: #FF99CC;
}
section p{
	padding-top: 10em;
}