nav#main-nav{
	background: #475a4d;
	color: white;
}
#product_listing_content{
	max-width: 60em;
}



nav#sub_nav{
	background: #66CCCC;
/*	color: #66CCCC;
*/	text-align: center;
	width:100%;
	margin-left:0em;
	margin-top: 0;
}
nav#sub_nav a{
	color: white;
}
nav#sub_nav a:hover{
	background-color: #FF99CC;
}
.products figcaption{
	display: none;
}
.products:hover, figcaption{
    display: block;
}
h2{
	margin-bottom: 0;
}
h4{
	margin-top: 50px;
}
.products p{
	margin-bottom: 5em;
}

.element .products p{
    margin-left: 0;
}
