/*The code below is for the search*/
#search-input{
	text-align: right;
	margin-right: 10em;
	margin-top: 1.5em;
}
.product-content{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.product-content{
	display: flex;
	justify-content: center;
}

.products p{
	text-align: center;
}

.products figcaption{
	display: none;
}
.products:hover, figcaption{
    display: block;
}
h2{
	margin-bottom: 0;
}
h4{
	margin-top: 50px;
}
.products p{
	margin-bottom: 5em;
}

/*The code below is for the product listing responsiveness*/
@media(max-width: 29.5em){
	.product-content{
		flex-direction:column;
	}
	.products img{
		display: inline;
		vertical-align: middle;
		margin-left: 10%; 
	}
	.products p{
		display: inline;
	}
	#search-input{
		margin-right: 8em;
	}

}





/* The code below is for the sub navagation in product page*/
nav#sub_nav{
	background: #66CCCC;
	text-align: center;
	width:100%;
	margin-left:0em;
	margin-top: 0;
}
nav#sub_nav a{
	color: white;
}
nav#sub_nav a:hover{
	background-color: #FF99CC;
}
