#levels-heading h1{
	font-size: 2.5em;
}
h3.style-guide-heading{
	color: black;
	border-color: black;
	text-align: left;
}
h4.style-guide-heading{
	color: black;
	border-color: black;
}
.element{

	max-width: 60em;
	margin-left: 15%;
	margin-right: 15%;
}
.form-row{
	padding-bottom: 2em;
}
.form-row{
	padding: 10px 0;
	display: flex;
	max-width: 30em;
}
.form-row label{
	padding-right: 10px;
	display: inline;
}
.form-row input {
    flex: 1;
}
.form-row a {
    flex: 1;
    text-align: center;
}